/* body{
    align-items: center;
} */
#login{
    border: 0;
    display: none;
    padding-top: 100px;
}
#register{
    border: 0;
    display: none;
    padding-top:100px;
}
button{
    width: 250px;
    height: 200px;
}